.facebook{
    border-radius: 10px;
    color: black;
    background-color: white;
    border: 0px;
    font-weight: 500;
    
}


.facebook:hover{
    background-color: rgb(24,119,242);
    border: 1px solid white;
    transition: 0.5s;
    color: rgb(232,242,254);
    
}

.apple{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 0px;
    font-weight: 500;
    
}

.apple:hover{
    color: rgb(232,242,254);
    background-color: black;
    border: 1px solid white;
    transition: 0.5s;
}

.google{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 0px; 
    font-weight: 500;
}
.google:hover{
    color: rgb(232,242,254);
    background: linear-gradient(-120deg,#4285f4,#34a853,#fbbc05,#EA4335);
    border: 0.2px solid white;
    transition: 0.5s;
}

.numero{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 0px; 
    font-weight: 500;
}

.numero:hover{
    background-color: black;
    color: white;
    border: 0.2px solid white;
    transition: 0.5s;
}

.button{
    border-radius: 30px;
    background-color: rgb(30,215,96);
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;

}
button:hover{
    border: 1px solid white;
}

.password{
    border-radius: 10px;
}
.email{
    border-radius: 10px;
}
.input{
    font-weight: 500;
}